/* Menú 
.navbar-options{
  padding-top: 20px;
}*/

/*  
.navbar-header {
  padding-top: 20px;
  padding-bottom: 20px;
}*/
.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}
  
/* estilos de texto */
.text-white {
  color:white;
}
* {
  margin:0;
  padding:0;
  text-align: center;
}


/* Gradiente body y secciones */
.gradient {
  -webkit-background: linear-gradient(rgba(231, 76, 60, 0.95), rgba(255, 51, 102, 0.95));
  -ms-background: linear-gradient(rgba(231, 76, 60, 0.95), rgba(255, 51, 102, 0.95));
  -moz-background: linear-gradient(rgba(231, 76, 60, 0.95), rgba(255, 51, 102, 0.95));
  -o-background: linear-gradient(rgba(231, 76, 60, 0.95), rgba(255, 51, 102, 0.95));
  background: linear-gradient(rgba(231, 76, 60, 0.95), rgba(255, 51, 102, 0.95)); }

.back-white {
  background-color: #fff;
}

#section0 , #section1 , #section2 , #section3 , #section4 {
  padding-top:50px;
  height:670px;
} 

 #contact {
    height:800px;
    padding-bottom: 50px;
    background-color: black;
} 




/* backgrounds de secciones 
#section0 {padding-top:50px;height:600px;color: #fff; background-color: rgba(214, 221, 228, 0.795);}
#section1 {padding-top:50px;height:600px;color: #fff; background-color: rgba(176, 181, 185, 0.795);}
#section2 {padding-top:50px;height:425px;color: #fff; background-color:  rgba(176, 181, 185, 0.795);}
#section3 {padding-top:50px;height:525px;color: #fff; background-color:  rgba(176, 181, 185, 0.795);}
#section4 {padding-top:50px;height:525px;color: #fff; background-color:  rgba(176, 181, 185, 0.795);}




/* Bloque Izquierdo */
#leftSide {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden; }

/* Bloque Derecho */
#rightSide {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow-x: hidden;
  background: #fff; }

#home, #homeCenter {
  width: 100%;
  height: 100%;
  z-index: 1; }

.h-content {
  position: relative;
  z-index: 0;
  top: 32vh;
  width: 100%;
  padding: 10px 10%;
  color: #fff; }

#section0 {
  /*
  display: flex;
  align-content: center;
  flex-direction: row;
  top: 50% important! ;*/
  
}

.title-1 {
  position: absolute;
  top: 50%;
  left: 25%;
}

.my-photo {
 padding-top: 8%;
}

.resum p {
  text-align: justify;
}